@import "tailwindcss";
@import "./styles/admin.css";

:root{
  color: black;
}

/* Hide scrollbar but still scrollable */
/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
} */
